In [1]:
#pip install pandas openpyxl
import sys
!{sys.executable} -m pip install openpyxl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: openpyxl in c:\users\malan\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\malan\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [24]:
pop_county_2020_2023 = pd.read_excel('../data/2020_2023_change_city.xlsx', skiprows=[347,348,349,350,351,352,353,354], engine='openpyxl')
county_city_tn = pd.read_excel('../data/county_city_tn.xlsx', engine='openpyxl')
home_sales_2012_2023 = pd.read_excel('../data/all_home_sales_2012_2023.xlsx', skiprows = [1,3,100, 101, 102,103,104,105,106,107], engine='openpyxl')
census = pd.read_excel('../data/census_2000_2020.xlsx',engine='openpyxl')
covid_stats = pd.read_excel('../data/covid_stats.xlsx', engine='openpyxl')
home_sales = pd.read_excel('../data/home_sales_county_2023.xlsx', engine='openpyxl')
national_pop = pd.read_excel('../data/national_pop_2020_2024.xlsx', skiprows=[0,1,2], nrows = 58, engine='openpyxl')

In [3]:
national_pop.tail(20)

,Unnamed: 0,Unnamed: 1,2020,2021,2022,2023,2024
38,.North Carolina,10441499.0,10449652.0,10564320.0,10710793.0,10881189.0,11046024.0
39,.North Dakota,779046.0,779563.0,777966.0,781057.0,789047.0,796568.0
40,.Ohio,11799453.0,11798905.0,11767344.0,11777874.0,11824034.0,11883304.0
41,.Oklahoma,3959405.0,3965415.0,3992238.0,4026229.0,4063882.0,4095393.0
42,.Oregon,4237224.0,4243779.0,4254280.0,4247372.0,4253653.0,4272371.0
43,.Pennsylvania,13002909.0,12996143.0,13015571.0,12984990.0,13017721.0,13078751.0
44,.Rhode Island,1097354.0,1096530.0,1097246.0,1099498.0,1103429.0,1112308.0
45,.South Carolina,5118252.0,5132249.0,5194274.0,5287935.0,5387830.0,5478831.0
46,.South Dakota,886729.0,887948.0,896492.0,909723.0,918305.0,924669.0
47,.Tennessee,6912347.0,6927904.0,6965740.0,7062217.0,7148304.0,7227750.0
48,.Texas,29149458.0,29239570.0,29570351.0,30113488.0,30727890.0,31290831.0
49,.Utah,3271608.0,3284077.0,3339738.0,3391011.0,3443222.0,3503613.0
50,.Vermont,643082.0,642977.0,647210.0,648142.0,648708.0,648493.0
51,.Virginia,8631388.0,8637615.0,8658910.0,8683414.0,8734685.0,8811195.0
52,.Washington,7707586.0,7727209.0,7743760.0,7794123.0,7857320.0,7958180.0
53,.West Virginia,1793736.0,1791646.0,1785618.0,1774122.0,1770495.0,1769979.0
54,.Wisconsin,5894170.0,5897375.0,5881608.0,5903975.0,5930405.0,5960975.0
55,.Wyoming,576844.0,577681.0,579636.0,581978.0,585067.0,587618.0
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,.Puerto Rico,3285874.0,3281590.0,3262711.0,3220137.0,3203792.0,3203295.0

In [4]:
#national_pop = national_pop.rename(columns = {'Unnamed: 0': 'Location', 'Unnamed: 1': 'Estimates Base'}).dropna().reset_index(drop=True)['Location'].str.replace('^\\.', '', regex=True)

In [5]:
national_pop = (
    national_pop
    .rename(columns={'Unnamed: 0': 'Location', 'Unnamed: 1': 'Estimates Base'})
    .dropna()
    .reset_index(drop=True)
)

national_pop['Location'] = national_pop['Location'].str.replace(r'^\.', '', regex=True)

In [9]:
national_pop

,Location,Estimates Base,2020,2021,2022,2023,2024
0,United States,331515736.0,331577720.0,332099760.0,334017321.0,336806231.0,340110988.0
1,Northeast,57617706.0,57431458.0,57252533.0,57159597.0,57398303.0,57832935.0
2,Midwest,68998970.0,68984258.0,68872831.0,68903297.0,69186401.0,69596584.0
3,South,126281537.0,126476549.0,127368010.0,129037849.0,130893358.0,132665693.0
4,West,78617523.0,78685455.0,78606386.0,78916578.0,79328169.0,80015776.0
5,Alabama,5025369.0,5033094.0,5049196.0,5076181.0,5117673.0,5157699.0
6,Alaska,733395.0,733017.0,734420.0,734442.0,736510.0,740133.0
7,Arizona,7158110.0,7187135.0,7274078.0,7377566.0,7473027.0,7582384.0
8,Arkansas,3011553.0,3014546.0,3026870.0,3047704.0,3069463.0,3088354.0
9,California,39555674.0,39521958.0,39142565.0,39142414.0,39198693.0,39431263.0
10,Colorado,5775324.0,5787129.0,5814036.0,5850935.0,5901339.0,5957493.0
11,Connecticut,3607701.0,3579918.0,3606607.0,3617925.0,3643023.0,3675069.0
12,Delaware,989955.0,991928.0,1005062.0,1020625.0,1036423.0,1051917.0
13,District of Columbia,689545.0,670917.0,669256.0,676725.0,687324.0,702250.0
14,Florida,21538192.0,21592035.0,21831949.0,22379312.0,22904868.0,23372215.0
15,Georgia,10713755.0,10732888.0,10792060.0,10931805.0,11064432.0,11180878.0
16,Hawaii,1455252.0,1451252.0,1447029.0,1440359.0,1441387.0,1446146.0
17,Idaho,1839140.0,1849415.0,1904848.0,1944299.0,1971122.0,2001619.0
18,Illinois,12821814.0,12799088.0,12700641.0,12621821.0,12642259.0,12710158.0
19,Indiana,6786587.0,6790497.0,6815907.0,6844545.0,6880131.0,6924275.0
20,Iowa,3190546.0,3191141.0,3198613.0,3202820.0,3218414.0,3241488.0
21,Kansas,2937745.0,2938172.0,2938338.0,2937324.0,2951500.0,2970606.0
22,Kentucky,4506302.0,4508318.0,4507583.0,4519233.0,4550595.0,4588372.0
23,Louisiana,4657874.0,4652301.0,4627971.0,4593687.0,4588071.0,4597740.0
24,Maine,1363196.0,1364571.0,1378931.0,1390922.0,1399646.0,1405012.0
25,Maryland,6181629.0,6177935.0,6179403.0,6192440.0,6217062.0,6263220.0
26,Massachusetts,7033132.0,6994598.0,7000474.0,7022468.0,7066568.0,7136171.0
27,Michigan,10079338.0,10072703.0,10041351.0,10050877.0,10083356.0,10140459.0
28,Minnesota,5706692.0,5710735.0,5718660.0,5721621.0,5753048.0,5793151.0
29,Mississippi,2961278.0,2958536.0,2947209.0,2941939.0,2943172.0,2943045.0
30,Missouri,6154854.0,6154744.0,6171374.0,6179414.0,6208038.0,6245466.0
31,Montana,1084216.0,1087230.0,1106522.0,1122095.0,1131302.0,1137233.0
32,Nebraska,1961996.0,1963387.0,1964537.0,1972246.0,1987864.0,2005465.0
33,Nevada,3105595.0,3116967.0,3148141.0,3176116.0,3214363.0,3267467.0
34,New Hampshire,1377546.0,1378756.0,1387677.0,1396678.0,1402199.0,1409032.0
35,New Jersey,9289014.0,9272794.0,9270541.0,9295227.0,9379642.0,9500851.0
36,New Mexico,2117555.0,2118606.0,2117333.0,2113868.0,2121164.0,2130256.0
37,New York,20203772.0,20105171.0,19848276.0,19703747.0,19737367.0,19867248.0
38,North Carolina,10441499.0,10449652.0,10564320.0,10710793.0,10881189.0,11046024.0
39,North Dakota,779046.0,779563.0,777966.0,781057.0,789047.0,796568.0
40,Ohio,11799453.0,11798905.0,11767344.0,11777874.0,11824034.0,11883304.0
41,Oklahoma,3959405.0,3965415.0,3992238.0,4026229.0,4063882.0,4095393.0
42,Oregon,4237224.0,4243779.0,4254280.0,4247372.0,4253653.0,4272371.0
43,Pennsylvania,13002909.0,12996143.0,13015571.0,12984990.0,13017721.0,13078751.0
44,Rhode Island,1097354.0,1096530.0,1097246.0,1099498.0,1103429.0,1112308.0
45,South Carolina,5118252.0,5132249.0,5194274.0,5287935.0,5387830.0,5478831.0
46,South Dakota,886729.0,887948.0,896492.0,909723.0,918305.0,924669.0
47,Tennessee,6912347.0,6927904.0,6965740.0,7062217.0,7148304.0,7227750.0
48,Texas,29149458.0,29239570.0,29570351.0,30113488.0,30727890.0,31290831.0
49,Utah,3271608.0,3284077.0,3339738.0,3391011.0,3443222.0,3503613.0
50,Vermont,643082.0,642977.0,647210.0,648142.0,648708.0,648493.0
51,Virginia,8631388.0,8637615.0,8658910.0,8683414.0,8734685.0,8811195.0
52,Washington,7707586.0,7727209.0,7743760.0,7794123.0,7857320.0,7958180.0
53,West Virginia,1793736.0,1791646.0,1785618.0,1774122.0,1770495.0,1769979.0
54,Wisconsin,5894170.0,5897375.0,5881608.0,5903975.0,5930405.0,5960975.0
55,Wyoming,576844.0,577681.0,579636.0,581978.0,585067.0,587618.0
56,Puerto Rico,3285874.0,3281590.0,3262711.0,3220137.0,3203792.0,3203295.0

In [10]:
national_pop.to_csv('../data/clean_national_pop.csv',index=False)

In [25]:
home_sales_2012_2023.head()

,Unnamed: 0,2012,2013,2014,2015,2016,2017*,2018*,2019,2020,...,2014.1,2015.1,2016.1,2017*.1,2018*.1,2019.1,2020.1,2021.1,2022.1,2023.1
0,Tennessee,54610.0,66555.0,73327.0,88017.0,97110.0,105529.0,108144.0,111426.0,120387.0,...,166000.0,175000.0,185000.0,196800.0,210000.0,226000.0,244900.0,283410.0,325000.0,339900.0
1,Anderson,572.0,649.0,676.0,824.0,924.0,977.0,1064.0,1081.0,1301.0,...,130000.0,130000.0,139950.0,136000.0,146000.0,163000.0,172000.0,222390.0,247963.5,265000.0
2,Bedford,293.0,387.0,495.0,607.0,725.0,769.0,818.0,823.0,897.0,...,115000.0,120000.0,131900.0,149900.0,160000.0,185000.0,200000.0,235000.0,290500.0,300000.0
3,Benton,99.0,137.0,126.0,139.0,139.0,160.0,180.0,148.0,196.0,...,78150.0,75000.0,90000.0,84950.0,80000.0,96250.0,122750.0,140000.0,139750.0,146000.0
4,Bledsoe,31.0,45.0,41.0,55.0,63.0,52.0,64.0,66.0,83.0,...,95000.0,105900.0,96000.0,105500.0,135250.0,138750.0,129000.0,171250.0,193500.0,190000.0

In [33]:
home_sales_2012_2023_number = home_sales_2012_2023.iloc[0:96, 0:12]

In [34]:
home_sales_2012_2023_number

,Unnamed: 0,2012,2013,2014,2015,2016,2017*,2018*,2019,2020,2021,2022
0,Tennessee,54610.0,66555.0,73327.0,88017.0,97110.0,105529.0,108144.0,111426.0,120387.0,138305.0,119350.0
1,Anderson,572.0,649.0,676.0,824.0,924.0,977.0,1064.0,1081.0,1301.0,1608.0,1430.0
2,Bedford,293.0,387.0,495.0,607.0,725.0,769.0,818.0,823.0,897.0,1025.0,827.0
3,Benton,99.0,137.0,126.0,139.0,139.0,160.0,180.0,148.0,196.0,233.0,214.0
4,Bledsoe,31.0,45.0,41.0,55.0,63.0,52.0,64.0,66.0,83.0,70.0,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...
91,Wayne,49.0,61.0,55.0,78.0,80.0,91.0,100.0,97.0,119.0,141.0,144.0
92,Weakley,217.0,230.0,230.0,254.0,270.0,292.0,316.0,341.0,364.0,419.0,362.0
93,White,206.0,237.0,242.0,287.0,280.0,295.0,330.0,344.0,390.0,371.0,409.0
94,Williamson,3907.0,5014.0,5160.0,5791.0,5830.0,5997.0,6110.0,6066.0,5302.0,6463.0,4675.0
95,Wilson,1541.0,2175.0,2414.0,2505.0,2563.0,3113.0,3230.0,3320.0,3897.0,4156.0,3858.0

In [41]:
home_sales_location = home_sales_2012_2023.iloc[:, 0:1]
home_sales_2012_2023_dollar = home_sales_2012_2023.iloc[0:96, 14:26]

home_sales_2012_2023_price = pd.concat([home_sales_location, home_sales_2012_2023_dollar], axis=1)

In [42]:
home_sales_2012_2023_price

,Unnamed: 0,2012.1,2013.1,2014.1,2015.1,2016.1,2017*.1,2018*.1,2019.1,2020.1,2021.1,2022.1,2023.1
0,Tennessee,160000.0,165000.0,166000.0,175000.0,185000.0,196800.0,210000.0,226000.0,244900.0,283410.0,325000.0,339900.0
1,Anderson,124947.5,124000.0,130000.0,130000.0,139950.0,136000.0,146000.0,163000.0,172000.0,222390.0,247963.5,265000.0
2,Bedford,100000.0,109900.0,115000.0,120000.0,131900.0,149900.0,160000.0,185000.0,200000.0,235000.0,290500.0,300000.0
3,Benton,78000.0,72000.0,78150.0,75000.0,90000.0,84950.0,80000.0,96250.0,122750.0,140000.0,139750.0,146000.0
4,Bledsoe,114900.0,80000.0,95000.0,105900.0,96000.0,105500.0,135250.0,138750.0,129000.0,171250.0,193500.0,190000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Weakley,86900.0,79000.0,88000.0,81750.0,89000.0,90000.0,89950.0,90000.0,120000.0,128000.0,145000.0,150000.0
93,White,90750.0,95500.0,101175.0,109000.0,106000.0,124500.0,127629.0,145000.0,150000.0,189000.0,231800.0,240000.0
94,Williamson,334899.0,355000.0,370218.5,390000.0,419000.0,445000.0,477055.0,500000.0,529355.0,665000.0,835000.0,849250.0
95,Wilson,206000.0,227000.0,234000.0,241000.0,254950.0,289900.0,309999.0,324062.5,348000.0,400000.0,438000.0,461526.5
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
home_sales_2012_2023_price.columns = home_sales_2012_2023_price.columns.str.replace(r'\.1$', '', regex=True)

In [46]:
home_sales_2012_2023_price

,Unnamed: 0,2012,2013,2014,2015,2016,2017*,2018*,2019,2020,2021,2022,2023
0,Tennessee,160000.0,165000.0,166000.0,175000.0,185000.0,196800.0,210000.0,226000.0,244900.0,283410.0,325000.0,339900.0
1,Anderson,124947.5,124000.0,130000.0,130000.0,139950.0,136000.0,146000.0,163000.0,172000.0,222390.0,247963.5,265000.0
2,Bedford,100000.0,109900.0,115000.0,120000.0,131900.0,149900.0,160000.0,185000.0,200000.0,235000.0,290500.0,300000.0
3,Benton,78000.0,72000.0,78150.0,75000.0,90000.0,84950.0,80000.0,96250.0,122750.0,140000.0,139750.0,146000.0
4,Bledsoe,114900.0,80000.0,95000.0,105900.0,96000.0,105500.0,135250.0,138750.0,129000.0,171250.0,193500.0,190000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Weakley,86900.0,79000.0,88000.0,81750.0,89000.0,90000.0,89950.0,90000.0,120000.0,128000.0,145000.0,150000.0
93,White,90750.0,95500.0,101175.0,109000.0,106000.0,124500.0,127629.0,145000.0,150000.0,189000.0,231800.0,240000.0
94,Williamson,334899.0,355000.0,370218.5,390000.0,419000.0,445000.0,477055.0,500000.0,529355.0,665000.0,835000.0,849250.0
95,Wilson,206000.0,227000.0,234000.0,241000.0,254950.0,289900.0,309999.0,324062.5,348000.0,400000.0,438000.0,461526.5
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN