In [15]:
#pip install pandas openpyxl
import sys
!{sys.executable} -m pip install openpyxl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: openpyxl in c:\users\malan\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\malan\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [55]:
pop_county_2020_2023 = pd.read_excel('../data/2020_2023_change_city.xlsx', skiprows=[347,348,349,350,351,352,353,354], engine='openpyxl')
county_city_tn = pd.read_excel('../data/county_city_tn.xlsx', engine='openpyxl')
home_sales_2012_2023 = pd.read_excel('../data/all_home_sales_2012_2023.xlsx',engine='openpyxl')
census = pd.read_excel('../data/census_2000_2020.xlsx',engine='openpyxl')
covid_stats = pd.read_excel('../data/covid_stats.xlsx', engine='openpyxl')
home_sales = pd.read_excel('../data/home_sales_county_2023.xlsx', engine='openpyxl')
national_pop = pd.read_excel('../data/national_pop_2020_2024.xlsx', engine='openpyxl')

In [56]:
national_pop.head(10)

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Area,"April 1, 2020 Estimates Base",Population Estimate (as of July 1),NaN,NaN,NaN,NaN
2,NaN,NaN,2020,2021.0,2022.0,2023.0,2024.0
3,United States,331515736,331577720,332099760.0,334017321.0,336806231.0,340110988.0
4,Northeast,57617706,57431458,57252533.0,57159597.0,57398303.0,57832935.0
5,Midwest,68998970,68984258,68872831.0,68903297.0,69186401.0,69596584.0
6,South,126281537,126476549,127368010.0,129037849.0,130893358.0,132665693.0
7,West,78617523,78685455,78606386.0,78916578.0,79328169.0,80015776.0
8,.Alabama,5025369,5033094,5049196.0,5076181.0,5117673.0,5157699.0
9,.Alaska,733395,733017,734420.0,734442.0,736510.0,740133.0